{% load static %}
{% load humanize %}



<div class="comments-area">
    <h4>{{comments|length}} Comments</h4>
    {% for comment in comments %}
    <div class="comment-list">
        <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
                <div class="thumb">
                    <img src="{% static 'img/blog/c10.jpg' %}"  width="60" height="60" alt="">
                </div>
                <div class="desc">
                    <h5><a href="#">{{comment.author}}</a></h5>
                    <p class="date">{{comment.created_date|naturaltime}}</p>
                    <p class="comment">
                        {{comment.content}}
                    </p>
                </div>
            </div>
        </div>

    </div>
    {% empty %}
        <p> There is no comments be the first </p>
    {% endfor %}

</div>
<div class="comment-form">
    <h4>Leave a Comment</h4>
    <form action="{% url 'blog:single' pid=post.id %}" method="post">
        {% csrf_token %}
        <div class="form-group form-inline">
            <div class="form-group col-lg-6 col-md-12 name">
                <input type="hidden" class="form-control" name="author" value="{{user.id}}">
            </div>

        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" name="post" value="{{post.id}}">
        </div>
        <div class="form-group">
            <textarea class="form-control mb-10" rows="5" name="content" placeholder="Messege"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
        </div>
        <div class="alert-msg" style="text-align: left;">
            {% if messages %}
                {% for message in messages %}
                    {% if "comment_input" in message.tags %}
                        {% if message|safe == 'Message sent. If your message is approved, you will be able to see it in the comments.' %}
                        <div class="alert {% if message.tags %} alert-{{message.tags}}{% endif %}">{{message|safe}}</div>
                        {% else %}
                        <div class="alert {% if message.tags %} alert-{{message.tags}}{% endif %}" style="color: red;" >{{message|safe}}</div>
                        {% endif %}
                    {% endif %}	
                {% endfor %}	
            {% endif %}

			{% if form.errors %}
					<div class="alert alert-error">
						<!-- <h4>Please fix the following error</h4> -->
						<ul>
							{% for field in form %}
								{% if field.errors %}
									<li><p class="error" style="color: red;">in {{field.name}} field</p></li>

									{% for error in field.errors %}
										<li><p class="error" style="color: red;">{{ error|escape }}</p></li>
									{% endfor %}
								{% endif %}
							{% endfor %}			
					    </ul>
						{% if form.non_field_errors %}
							{{form.non_field_errors}}
						{% endif %}	
					</div>
			{% endif %}	
									
		</div>
		<div class="p-2">{{form.captcha}}</div>


        
        <button type="submit" class="primary-btn text-uppercase">Post Comment</a>
    </form>
</div>